* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  list-style: none;
  width: 100vw;
  height: 100vh;
  background: aqua;
  font-family: Sono;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  padding: 0 0.5rem;
}
